// colors

// header
$nav-a-color: rgb(77 80 83);
$header-nav-hover: rgb(12 124 236);

// main
$main-background: rgb(28 28 28);
$main-nav-background: rgb(2 130 249);

// footer
$footer-title-color: rgb(248 255 255);
$footer-background: rgb(48 48 48);
$footer-nav-color: rgb(137 137 137);

// text
// generali
$bold: bolder;
